@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Share Tech Mono', monospace;
  background: #000;
  color: #fafafa;
  min-height: 100vh;
  line-height: 1.6;
}

main {
  display: grid;
  grid-template-areas:
  "hero"
  "sobre"
  "programacao"
  "palestrantes"
  "contato";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 4vw;
  background-color: #000;
  border-bottom: 0.3vh solid #7C3AED;
}

.logo {
  font-size: 2.5vw;
  font-weight: bold;
}

.logo span {
  color: #7C3AED;
}

nav a {
  margin-left: 2vw;
  text-decoration: none;
  color: #fafafa;
  font-weight: 600;
  font-size: 1.2vw;
  transition: color 0.3s ease;
}

nav a:hover,
nav a:focus {
  color: #7C3AED;
  outline: none;
}

.hero {
  grid-area: hero;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 5vw;
  border-bottom: 0.3vh solid #7C3AED;
  gap: 3vw;
}

.hero-texto {
  max-width: 40vw;
}

.hero-texto h2 {
  font-size: 4vw;
  margin-bottom: 1rem;
  font-weight: bold;
}

.hero-texto p {
  font-size: 1.3vw;
  margin-bottom: 1.5rem;
  text-align: justify;
}

.botao {
  display: inline-block;
  padding: 0.8em 1.5em;
  background: #7C3AED;
  color: #fff;
  border-radius: 0.5em;
  font-weight: 700;
  font-size: 1.2vw;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  border: none;
}

.botao:hover,
.botao:focus {
  background: #000;
  color: #7C3AED;
}

.hero-imagem {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-imagem img {
  width: 80%;
  object-fit: contain;
  user-select: none;
}

.sobre-container {
  grid-area: sobre;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5vw;
  gap: 4vw;
  border-bottom: 0.3vh solid #7C3AED;
}

.sobre-texto {
  max-width: 40vw;
  min-width: 280px;
}

.sobre-texto h2 {
  font-size: 3vw;
  color: #7C3AED;
  margin-bottom: 1rem;
}

.sobre-texto p {
  font-size: 1.3vw;
  margin-bottom: 1.5rem;
  text-align: justify;
}

.sobre-imagem {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.sobre-imagem img {
  width: 80%;
  border-radius: 1.2vw;
  box-shadow: 0 0 3vw rgba(124, 58, 237, 0.3);
}

.programacao {
  grid-area: programacao;
  padding: 6vh 10vw;
  text-align: center;
  border-bottom: 0.3vh solid #7C3AED;
}

.programacao h2 {
  font-size: 3.6vw;
  margin-bottom: 2rem;
}

.programa-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.programa-item {
  background: #1a1a1a;
  padding: 2rem;
  border-radius: 1.2vw;
  width: 35vw;
  box-shadow: 0 0 1vw #7C3AED55;
  text-align: left;
}

.programa-item h3 {
  color: #7C3AED;
  margin-bottom: 1rem;
  font-size: 2.2vw;
}

.programa-item p {
  margin-bottom: 1vh;
  font-size: 1.6vw;
}

.localizacao {
  margin-top: 3rem;
}

.localizacao h3 {
  font-size: 2.8vw;
  margin-bottom: 1rem;
}

.mapa iframe {
  width: 100%;
  height: 30vh;
  border-radius: 1.2vw;
  border: none;
  box-shadow: 0 0 2vw rgba(124, 58, 237, 0.5);
}

#palestrantes {
  grid-area: palestrantes;
  padding: 6vh 4vw;
  border-bottom: 0.3vh solid #7C3AED;
}

#palestrantes h2 {
  font-size: 3.2vw;
  margin-bottom: 2rem;
  text-align: center;
}

.palestrantes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
}

.card {
  background: #1a1a1a;
  padding: 2rem;
  border-radius: 1.2vw;
  text-align: center;
  box-shadow: 0 0.4vh 1.2vh rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.card:hover{
  transform: translateY(-0.5px);
  box-shadow: 0 1vh 2vh rgba(124, 58, 237, 0.6);
}

.card img {
  width: 100%;
  border-radius: 1vw;
  margin-bottom: 1vh;
}

.card h3 {
  font-size: 1.8vw;
}

.card p {
  font-size: 1.2vw;
  color: #ccc;
}

.contato {
  grid-area: contato;
  padding: 6vh 4vw;
}

.contato-container {
  max-width: 40vw;
  margin: 0 auto;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formulario label {
  font-size: 1.3vw;
  font-weight: 600;
}

.formulario input,
.formulario textarea {
  padding: 1rem;
  font-size: 1.2vw;
  border-radius: 0.5vw;
  border: 0.15vw solid #7C3AED;
  background: #1a1a1a;
  color: #fafafa;
}

.formulario input:focus,
.formulario textarea:focus {
  outline: none;
  border-color: #b085ff;
  background: #2a2a2a;
}

.formulario button {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.3vw;
  font-weight: bold;
  color: #000;
  background: #7C3AED;
  border: none;
  border-radius: 0.5vw;
  cursor: pointer;
  transition: 0.3s;
}

.formulario button:hover,
.formulario button:focus {
  background: #5a27b7;
}

.btn-mais-info {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #7C3AED;
  color: #fff;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: background 0.3s ease, transform 0.2s ease;
  z-index: 1000;
}

.btn-mais-info:hover {
  background-color: #000;
  transform: scale(1.1);
}


footer.footer {
  padding: 2vh 4vw;
  text-align: center;
  font-size: 1vw;
  border-top: 0.2vh solid #7C3AED;
}
