@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Share Tech Mono', monospace;
  background: #000;
  color: #fafafa;
  min-height: 100vh;
  line-height: 1.6;
}

main {
  display: grid;
  grid-template-areas:
  "hero"
  "sobre"
  "programacao"
  "palestrantes"
  "contato";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 4vw;
  background-color: #000;
  border-bottom: 2px solid #7C3AED;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

.logo span {
  color: #7C3AED;
}

nav a {
  margin-left: 32px;
  text-decoration: none;
  color: #fafafa;
  font-weight: 600;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav a:hover,
nav a:focus {
  color: #7C3AED;
  outline: none;
}

.hero {
  grid-area: hero;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 5vw;
  border-bottom: 2px solid #7C3AED;
  gap: 3vw;
}

.hero-texto {
  max-width: 40vw;
}

.hero-texto h2 {
  font-size: 48px;
  margin-bottom: 16px;
  font-weight: bold;
}

.hero-texto p {
  font-size: 18px;
  margin-bottom: 24px;
  text-align: justify;
}

.botao {
  display: inline-block;
  padding: 13px 24px;
  background: #7C3AED;
  color: #fff;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  border: none;
}

.botao:hover,
.botao:focus {
  background: #000;
  color: #7C3AED;
}

.hero-imagem {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-imagem img {
  width: 80%;
  object-fit: contain;
  user-select: none;
}

.sobre-container {
  grid-area: sobre;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5vw;
  gap: 4vw;
  border-bottom: 2px solid #7C3AED;
}

.sobre-texto {
  max-width: 40vw;
  min-width: 280px;
}

.sobre-texto h2 {
  font-size: 35px;
  color: #7C3AED;
  margin-bottom: 16px;
}

.sobre-texto p {
  font-size: 18px;
  margin-bottom: 24px;
  text-align: justify;
}

.sobre-imagem {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.sobre-imagem img {
  width: 80%;
  border-radius: 16px;
  box-shadow: 0 0 48px rgba(124, 58, 237, 0.3);
}

.programacao {
  grid-area: programacao;
  padding: 6vh 10vw;
  text-align: center;
  border-bottom: 2px solid #7C3AED;
}

.programacao h2 {
  font-size: 38px;
  margin-bottom: 32px;
}

.programa-container {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.programa-item {
  background: #1a1a1a;
  padding: 32px;
  border-radius: 16px;
  width: 35vw;
  box-shadow: 0 0 16px #7C3AED55;
  text-align: left;
}

.programa-item h3 {
  color: #7C3AED;
  margin-bottom: 16px;
  font-size: 29px;
}

.programa-item p {
  margin-bottom: 16px;
  font-size: 16px;
}

.localizacao {
  margin-top: 48px;
}

.localizacao h3 {
  font-size: 29px;
  margin-bottom: 16px;
}

.mapa iframe {
  width: 100%;
  height: 30vh;
  border-radius: 16px;
  border: none;
  box-shadow: 0 0 32px rgba(124, 58, 237, 0.5);
}

#palestrantes {
  grid-area: palestrantes;
  padding: 6vh 4vw;
  border-bottom: 2px solid #7C3AED;
}

#palestrantes h2 {
  font-size: 35px;
  margin-bottom: 32px;
  text-align: center;
}

.palestrantes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
}

.card {
  background: #1a1a1a;
  padding: 32px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.card:hover{
  transform: translateY(-2px);
  box-shadow: 0 16px 32px rgba(124, 58, 237, 0.6);
}

.card img {
  width: 100%;
  border-radius: 13px;
  margin-bottom: 8px;
}

.card h3 {
  font-size: 22px;
}

.card p {
  font-size: 16px;
  color: #ccc;
}

.contato {
  grid-area: contato;
  padding: 6vh 4vw;
}

.contato-container {
 
  margin: 0 auto;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formulario label {
  font-size: 18px;
  font-weight: 600;
}

.formulario input,
.formulario textarea {
  padding: 16px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #7C3AED;
  background: #1a1a1a;
  color: #fafafa;
}

.formulario input:focus,
.formulario textarea:focus {
  outline: none;
  border-color: #b085ff;
  background: #2a2a2a;
}

.formulario button {
  margin-top: 16px;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  background: #7C3AED;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.formulario button:hover,
.formulario button:focus {
  background: #5a27b7;
}

.btn-mais-info {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #7C3AED;
  color: #fff;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: background 0.3s ease, transform 0.2s ease;
  z-index: 10;
}

.btn-mais-info:hover {
  background-color: #000;
  transform: scale(1.1);
}


footer.footer {
  padding: 2vh 4vw;
  text-align: center;
  font-size: 14px;
  border-top: 2px solid #7C3AED;
}



@media (max-width: 600px) {
  nav {
    display: none;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-texto {
    max-width: 85%;
    z-index: 2;
    position: absolute;
  }

  .hero-imagem {
    
    width: 100%;
    filter: brightness(0.5);
  }

  .hero-imagem img {
    width: 90%;
  }

  .sobre-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sobre-texto {
    max-width: 100%;
  }

  .sobre-imagem {
    order: 2;
    width: 100%;
    justify-content: center;
  }

  .sobre-imagem img {
    width: 90%;
  }

  .programa-container {
    flex-direction: column;
    align-items: center;
  }

  .programa-item {
    width: 80%;
  }

  .palestrantes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    width: 95%;
  }

  .palestrantes-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formulario input,
  .formulario textarea {
    width: 80%;
    font-size: 18px;
    
  }

  footer.footer {
    font-size: 12px;
    padding: 1vh 2vw;
  }
}

@media (min-width: 601px) and (max-width: 1023px) {
  .hero,
  .sobre-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-texto,
  .sobre-texto {
    max-width: 80%;
  }

  .hero-imagem img {
    width: 90%;
  }
  .sobre-imagem img {
    width: 100%;
  }

  .hero-texto {
    z-index: 2;
  }

  .hero p {
    font-size: 28px;
  }

  .hero h2 {
    font-size: 65px;
  }

  .hero-imagem {
    position: absolute;
    filter: brightness(0.5);
  }

  .programa-item {
    width: 80%;
  }

  .contato-container {
    max-width: 80%;
  }
}
